@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Croissant+One&family=Marck+Script&family=Rancho&family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');
/* font-family: 'Arizonia', cursive;
font-family: 'Amita', cursive;
font-family: 'Croissant One', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Rancho', cursive;
font-family: 'Sail', cursive; */

.a{
font-family: 'Croissant One', cursive;
}
.c {
  font-family: 'Amita', cursive;
}
.d {
font-family: 'Rancho', cursive;

}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}